:root {
  --spacing-base: 4px;
  --spacing-100: calc(var(--spacing-base) * 1);
  --spacing-200: calc(var(--spacing-base) * 2);
  --spacing-300: calc(var(--spacing-base) * 3);
  --spacing-400: calc(var(--spacing-base) * 4);
  --spacing-500: calc(var(--spacing-base) * 5);
  --spacing-600: calc(var(--spacing-base) * 6);
  --spacing-700: calc(var(--spacing-base) * 7);
  --spacing-800: calc(var(--spacing-base) * 8);
  --spacing-900: calc(var(--spacing-base) * 9);
  --spacing-1000: calc(var(--spacing-base) * 10);
  --spacing-1100: calc(var(--spacing-base) * 11);
  --spacing-1200: calc(var(--spacing-base) * 12);
}